# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
npm-debug.log*

# jekyll
.sass-cache/
.jekyll-metadata

*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo

config.json